.container {
  width: 100% !important;
}
.card {
  z-index: 1;
  background-color: #fff;
  width: 215px;
  padding: 60px 25px;
  border-radius: 5px;
  text-align: center;
  float: left;
  margin: 30px 30px;
}
.benefit img {
  margin-bottom: 20px !important;
}
.card img {
  width: 40%;
  margin: 0 auto;
}
.card h3 {
  font-size: 22px;
}
.card p {
  color: #878787;
}
.main {
  width: 90%;
  margin: 50px auto;
  display: inline-block;
}
.main > p {
  font-size: 46px;
  font-weight: 600;
  text-align: center;
  margin-left: 9vw;
}
.picture p {
  position: absolute;
  margin-left: -55px;
  width: 60px;
  text-align: center;
  background-color: #fff;
  display: inline-block;
  padding: 5px 10px;
}
.price p:nth-child(1) {
  float: left;
  font-weight: bold;
  color: #ffaf00;
}
.price p:nth-child(2) {
  float: right;
  font-weight: bold;
  color: #878787;
}
.tour {
  width: 25%;
  padding: 10px;
  cursor: pointer;
  color: black;
  font-weight: 500;
  background-color: #fff;
  float: left;
  transition: 0.2s;
  margin: 30px;
}
.tour:hover {
  border-radius: 20px 0 16px 0;
  box-shadow: -1px 2px 14px 3px #ffaf00;
}
.tour img {
  width: 100%;
}
.tour > p {
  font-size: 1.2rem;
  margin-bottom: -5px;
  text-align: justify;
}
.tourList {
  width: 100%;
  margin: 0 9vw;
}
