.top {
  background-size: 100%, cover !important;
  background-repeat: no-repeat;
  height: 75vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.logo {
  margin-left: 80px;
  cursor: pointer;
}
header {
  display: flow-root;
  width: 85%;
  margin: 0 auto;
}
.menu {
  float: right;
  padding: 40px 0;
}
.menu button {
  text-decoration: none;
  margin-left: 20px;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 30px;
  cursor: pointer;
}
.navBg button:hover {
  box-shadow: -1px 1px 14px 3px #fff;
}
.reg,
.log {
  border-radius: 6px;
  font-weight: bold;
  padding: 10px 25px;
  color: #fff;
  font-size: 16px;
}
.reg {
  margin-right: 70px;
  background-color: #ffaf00 !important;
  border: solid 1px #ffaf00 !important;
}
.log {
  margin-right: 20px;
  border: solid 1px #fff;
  background-color: transparent;
}
.head {
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
  color: #fff;
  font-size: 64px !important;
  z-index: 0;
}
label {
  color: #fff;
  padding-left: 7rem;
  margin: 20px 0;
}
.input-group {
  width: 85%;
  margin: 0 auto;
}
.input-group button {
  background-color: #ffaf00 !important;
  color: #fff;
}
