.top {
  background-size: 100%, cover !important;
  height: 75vh;
}
.logo {
  float: left;
  padding: 20px 0;
  cursor: pointer;
}
header {
  display: flow-root;
  width: 85%;
  margin: 0 auto;
}
.menu {
  float: right;
  padding: 40px 0;
}
.menu button {
  text-decoration: none;
  margin-left: 20px;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 30px;
  cursor: pointer;
}
.menu button:hover {
  opacity: 0.8;
}
.reg {
  background-color: #ffaf00;
  border: solid 1px #ffaf00;
}
.log {
  border: solid 1px #fff;
  background-color: transparent;
}
.banner {
  width: 85%;
  margin: 0 auto;
  color: #fff;
  font-size: 64px !important;
  line-height: 30px;
}
.banner h1:nth-child(2) {
  font-weight: lighter;
}
label {
  color: #fff;
  padding-left: 7rem;
  margin: 20px 0;
}
.input-group {
  width: 85%;
  margin: 0 auto;
}
.input-group button {
  background-color: #ffaf00 !important;
  color: #fff;
}
