.top > img{
    display: inline-block;
    width: 100%;
    position: absolute;
    z-index: -2;
    filter: brightness(70%);
}
.logo{
    float: left;
    padding: 20px 0;
    cursor: pointer;
}
header{
    display: flow-root;
    width: 85%;
    margin: 0 auto;
}
.menu{
    float: right;
    padding: 40px 0;
}
.menu a{
    text-decoration: none;
    margin-left: 20px;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 40px;
    cursor: pointer;
}
.menu a:hover{
    opacity: 0.8;
}
.menu a:nth-child(2){
    background-color: #FFAF00;
    color: #fff;
    border: solid 1px #FFAF00;
}
.menu a:nth-child(1){
    border: solid 1px #fff;
    color: #fff;
}
.banner{
    width: 85%;
    margin: 0 auto;
    color: #fff;
    font-size: 34px;
    line-height: 30px;
}
.banner h1:nth-child(2){
    font-weight: lighter;
}