.closed {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  color: #fff;
  background-color: #ff3a2c;
  padding: 5px 12px;
  cursor: pointer;
  transition: 0.3s;
}
.closed:hover {
  filter: brightness(80%);
  border-radius: 50%;
}
.login {
  width: 400px;
  z-index: 2;
  background-color: #fff;
  padding: 10px 25px 0 25px;
  border-radius: 5px;
  top: 15vh;
  backdrop-filter: brightness(90%);
  text-align: center;
  position: fixed;
  font-weight: 500;
  margin: 0 37vw;
  box-shadow: -1px 4px 14px 3px rgba(0, 0, 0, 0.45) !important;
}
.login input {
  width: 100%;
  padding: 20px 30px;
  background-color: rgba(210, 210, 210, 0.25);
  border: none;
}
.login p {
  margin-top: 40px;
  font-size: 22px;
  text-align: left;
}
.login button {
  background-color: #ffaf00;
  color: #fff;
  padding: 15px 30px;
  margin-top: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
}
.login button:hover {
  filter: brightness(90%);
}
.palm {
  position: absolute;
  left: 0;
  z-index: -1;
  top: 0;
}
.hibiscus {
  position: absolute;
  right: 0;
  top: 0;
}
